{% extends "base.html" %} {% block content %} 
{% if not request.user.is_authenticated %}
  <div style="margin-top: 30px">
    <form method="POST">
      {% csrf_token %}
      <div>
        <input type="text" name="username" placeholder="username" />
      </div>
      <div>
        <input type="password" name="password" placeholder="password" />
      </div>
      <div>
        <button type="submit">Create account</button>
      </div>
    </form>
  </div>
{% else %}
<div>
  <h2>You're already logged in</h2>
  <p>Do you want to log out?</p>
  <a href="/logout">Logout</a>
</div>
{% endif %}

{% endblock %}
